{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
#slider .ui-slider-range { background: #729fcf; }
#slider .ui-slider-handle { border-color: #729fcf; }

[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
  content: attr(data-pseudo-content);
  font-weight:bold;
}
</style>

<link rel="stylesheet" href="{% static 'EvalView/css/jquery-ui.css' %}">
<script src="{% static 'EvalView/js/jquery-ui.min.js' %}"></script>
<script>
<!--
$(document).ready(function() {
  $('input[name="start_timestamp"]').val(Date.now()/1000.0);
  $('#slider').slider({orientation: "horizontal", range: "min", change: update_score});
  $('input[name="score"]').val(-1);
  $('input[name="translation_errors"]').val('');
  $('input[name="reference_errors"]').val('');

  $('strong.reference').each(function() {
      var $this = $(this);
      $this.html($this.text().replace(/(^|\s*)([^\s]+)($|\s*)/g, "$1<span>$2</span>$3"));
  });

  $('strong.reference span').click(
      function() {
          $(this).css('background-color','rgba(0, 0, 255, 0.3)');
          var index = get_node_index(this);
          errors_input = $('input[name="reference_errors"]');
          errors = errors_input.val()
          errors_input.val(errors === '' ? index : errors + '|' + index)
      }
  );

  $('strong.translation').each(function() {
      var $this = $(this);
      $this.html($this.text().replace(/(^|\s*)([^\s]+)($|\s*)/g, "$1<span>$2</span>$3"));
  });

  $('strong.translation span').click(
      function() {
          $(this).css('background-color','rgba(255, 0, 0, 0.3)');
          var index = get_node_index(this);
          errors_input = $('input[name="translation_errors"]');
          errors = errors_input.val()
          errors_input.val(errors === '' ? index : errors + '|' + index)
      }
  );

  $('input[name="score"]').change(
      function() {
          var value = $(this).val();
          var description = $('#quality_description')
          if (value > 0 && value < 10) description.text("Completely incorrect");
          if (value >= 10 && value < 30) description.text("A few correct words, but the meaning is different or lost");
          if (value >= 30 && value < 50) description.text("Parts of the original meaning are preserved");
          if (value >= 50 && value < 70) description.text("Translation is understandable, but contains a few mistakes");
          if (value >= 70 && value < 90) description.text("Very good translation, only minor mistakes");
          if (value >= 90 && value <= 100) description.text("Near perfect or perfect translation");
      }
  )

});

function get_node_index(node)
{
  var siblings = Array.from(node.parentNode.childNodes);
  return Array.prototype.indexOf.call(siblings.filter(sibling => sibling.nodeName === 'SPAN'), node);
}

function add_end_timestamp()
{
  $('input[name="end_timestamp"]').val(Date.now()/1000.0);
}

function reset_form()
{
  $('input[name="start_timestamp"]').val(Date.now()/1000.0);
  $('#slider').slider('option', 'value', 0);
  $('input[name="score"]').val(-1);
  $('#quality_description').text('Not evaluated')
  $('input[name="translation_errors"]').val('');
  $('input[name="reference_errors"]').val('');
  $('strong.reference span').each(function () {
    $(this).css('background-color','#ffffff');
  });
  $('strong.translation span').each(function () {
    $(this).css('background-color','#ffffff');
  });
}

function validate_form()
{
  var score = $('input[name="score"]').val();
  if (score == -1)
  {
    alert('Please score the given candidate sentence. Thanks!');
    return false;
  }

  return true;
}

function update_score()
{
  var new_score = $('#slider').slider('value');
  $('input[name="score"]').val(new_score).trigger('change');
}
-->
</script>

{% endblock %}

{% block content %}

<form action="{{action_url}}" method="post" onsubmit="javascript:add_end_timestamp();">
{% csrf_token %}

<div class="alert alert-info">
  <table style="width:100%">
  <tr>
    <td style="width:33%;text-align:left;">
      <strong id="task_progress">{% if trusted_user %}<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {% endif %}{{completed_blocks}}/100 blocks, {{items_left_in_block}} items left in block</strong>
    </td>
    <td style="width:66%;text-align:right;">
      <strong>{{campaign}}</strong>
    </td>
  </tr>
  </table>
</div>

<div class="row">
<div class="col-sm-12">
<blockquote>
<p><strong class="reference">{{reference_text|safe}}</strong></p>
<small>{{reference_label}} - <strong>Click</strong> on the words that explain your assessment of translation quality</small>
</blockquote>
</div>
</div>

<input name="end_timestamp" type="hidden" value="" />
<input name="item_id" type="hidden" value="{{item_id}}" />
<input name="task_id" type="hidden" value="{{task_id}}" />
<input name="start_timestamp" type="hidden" value="" />
<input name="score" type="hidden" value="-1" />
<input name="reference_errors" type="hidden" value="" />
<input name="translation_errors" type="hidden" value="" />

<span id="candidate">
<div class="row">
<div class="col-sm-12">
<blockquote>
<p><strong class="translation">{{candidate_text|safe}}</strong></p>
<small>{{candidate_label}} - <strong>Click</strong> on the words corresponding to the errors in the translation</small>
</blockquote>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<blockquote>
<p><strong class="context">{{source_context|safe}}</strong></p>
<small>{{context_label}}</small>
</blockquote>
</div>
</div>

<div class="row">
<div class="col-sm-12">
  <table class="col-sm-12" style="color: #777;">
  <tr>
    <td style="width:10%;text-align: right;">|</td>
    <td style="width:20%;text-align: right;">|</td>
    <td style="width:20%;text-align: right;">|</td>
    <td style="width:20%;text-align: right;">|</td>
    <td style="width:20%;text-align: right;">|</td>
    <td style="width:10%;text-align: right;"></td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
<div class="col-sm-12">
<blockquote>
<div id="slider"></div>
<div style="margin-top: 10px"><strong id="quality_description">Not evaluated</strong></div>
<br/>
<small>{{priming_question_text|safe}}</small>
</blockquote>
</div>
</div>

</span>

<div class="actions">
  <table style="width:100%">
  <tr>
    <td style="width:50%;text-align:left;">
      <button onclick="javascript:reset_form();" accesskey="2" type="reset" class="btn"><i class="icon-repeat"></i> Reset</button>
    </td>
    <td style="width:50%;text-align:right;">
      <button class="btn btn-primary" name="submit_button" accesskey="1" type="submit" value="SUBMIT" onclick="javascript:return validate_form();"><i class="icon-ok-sign icon-white"></i> Submit</button>
    </td>
  </tr>
  </table>
</div>

</form>

{% endblock %}
